<!DOCTYPE html>
<html>
<head>
	<title>समाचार वर्गीकृत गर्नुहोस्</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<!-- 	<nav>
		<div class="brand">
			Nepali News Classifier
		</div>
		<ul class="nav">
			<li><a href="/">Home</a></li>
		    <li><a href="/report">Report</a></li>  
		</ul>
	</nav> -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">नेपाली समाचार क्लासिफायर</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <!-- <a class="nav-link" href="/overallreport">Report</a> -->
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="jumbotron">
		<h3>नेपाली समाचार वर्गीकरण प्रणाली| Home</h3>
	</div>
	<br>
	<div class="container">

		<form method="POST" action="/predict">
		
	
		  <div class="form-group">
		    <label for="Review">नेपाली समाचार नमूना प्रविष्ट गर्नुहोस्</label>
		    <input type="text" class="form-control" id="Review" aria-describedby="emailHelp" placeholder="समाचार प्रविष्ट गर्नुहोस्" name="string_input">
		  </div>

		  <button type="submit" class="btn btn-primary">बुझाउनुहोस्</button>
		</form>

	</div>																																																															
</body>
</html>